body{
    background-image: url(/asset/image/woman-6554271_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 400px;
   
}
span{
    font-size: 25px;
}
h1,h2,span{
    color: antiquewhite;
}
span{
    font-weight: bold;
    letter-spacing: 2px;
}
input{
    padding: 10px 5px;
    margin: 19px 0;
    width: 30rem;
}
button{
    padding: 7px 20px;
    margin: 0 5px;
}
form{
    
    text-align: center;
}
